KERNEL_ARCH_CFLAGS=-DVGA_MEMORY=0xffffffff803ff000 -mcmodel=large
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/nmi.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/pagemanager.o \
$(ARCHDIR)/task.o \
$(ARCHDIR)/switch.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/semaphore.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/do_syscall.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/malloc.o \
$(ARCHDIR)/ram.o \
$(ARCHDIR)/pgtable.o \

