KERNEL_ARCH_CFLAGS=-DVGA_MEMORY=0xffffffffc00B8000 -mcmodel=large
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/boot/tty.o \
$(ARCHDIR)/cpu/isr.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/io.o \
$(ARCHDIR)/driver/pic.o \
$(ARCHDIR)/cpu/nmi.o \
$(ARCHDIR)/driver/keyboard.o \
$(ARCHDIR)/cpu/irq.o \
$(ARCHDIR)/mm/pagemanager.o \
$(ARCHDIR)/mm/mm.o \
$(ARCHDIR)/sched/task.o \
$(ARCHDIR)/sched/switch.o \
$(ARCHDIR)/driver/timer.o \
$(ARCHDIR)/sched/semaphore.o \
$(ARCHDIR)/cpu/cpu.o \
$(ARCHDIR)/syscall/do_syscall.o \
$(ARCHDIR)/syscall/syscall.o \
$(ARCHDIR)/mm/malloc.o \
$(ARCHDIR)/mm/ram.o \
$(ARCHDIR)/mm/pgtable.o \
$(ARCHDIR)/driver/floppy.o \
$(ARCHDIR)/fs/fat.o \
$(ARCHDIR)/fs/elfloader.o \
$(ARCHDIR)/fs/exec.o \
$(ARCHDIR)/kernel/printk.o \
$(ARCHDIR)/kernel/exit.o \
$(ARCHDIR)/kernel/fork.o \

